<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <h1>Login page.</h1>
        <form action="/login" method="POST">
            <p>Username: <input type="text" name="username" required></p>
            <p>Password: <input type="password" name="password" required></p>
            <input type="submit" value="Login">
        </form>
        <h1>Or signup</h1>
        <form action="/signup" method="POST">
            <p>Username: <input type="text" name="username" required></p>
            <p>Password: <input type="text" name="password" required></p>
            <input type="submit" value="Sign up">
        </form>
    </body>
</html>